

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <h4>{% trans "Exported Template" %}</h4>
            <pre>{{ template }}</pre>
        </div>
    </div>
{% endblock %}