

<p class="col-12">{{ "Head over to our Community site (<a href='https://community.xibo.org.uk/'>https://community.xibo.org.uk/</a>) for additional support and advice. The Community has extensive archives with answers to many many questions!"|trans|raw }}</p>